# Ignorar la carpeta venv (entorno virtual)
venv/

# Ignorar archivos de PyCharm (si usas PyCharm)
.env

# Ignorar archivos de Visual Studio Code
.vscode/

# Ignorar archivos de Python compilados
*.pyc
*.pyo
__pycache__/
